html, body{
    padding: 0;
    margin: 0;
  }

html{
    font-family: 'Permanent Marker', cursive;
    height: 100vh;
}
body{
    background-color: #D22779;
    min-height: 100vh;
}
header{
    background-color: #FF008E;
    color: #ffff;
    padding: 5%;
}
footer{
    background-color: #0C1E7F;
    color: #ffff;
    width: 100%;
    padding: 5%;
}
img{
    display: flex;
    max-width: 50vw;
    margin: auto;
    padding: 5% 5% 5% 5%;
}
.navbar{
    padding: 10%;
}
.nav-h1{
    font-size: 2.5em;
    text-align: center;
    margin: auto;
}
.main-page{
    display: grid;
}
.main-btns{
    display: grid;
    padding-bottom: 3%;
    margin: auto;

}
.btn-1{
border: none;
min-width: 80vw;
background-color:#612897 ;
color: aliceblue;
}
.btn-2{
    border: none;
    min-width: 80vw;
    background-color:#612897 ;
    color: aliceblue;
}
.btn-3{
    border: none;
    min-width: 80vw;
    background-color:#612897 ;
    color: aliceblue;
}
.main-container{
    background-color: #D22779;
    margin: auto;
    width: 100%;
    padding-top: 10%;
}
.user-points{
    width: 25vw;
        border-radius: 50px !important;
        padding: 1.9rem;
        background: #612897  !important;
        display: flex;
        align-items:center;
        margin: auto;
}

.user-points-h4{
    font-size: larger;
    color: aliceblue;
    text-align: center;
    padding-bottom: 5%;
}
.user-points-h3{
    font-size: xx-large;
    color: aliceblue;
    text-align: center;
    padding-bottom: 5%;
}

.footer{
    text-align: center;
}

/* -------------Media selector for phone------------- */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        background-color: #D22779;
       width: 100%;
    }
    img{
         display: flex;
         max-width: 100vw;
         margin: auto;
         padding: 5% 5% 5% 5%;
    }
    .main-page{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        min-height: 80vh;
        
    }
    .main-btns{
        display: grid;
        padding-bottom: 3%;
        margin: auto;
    }

    .btn-1{
        border: none;
        font-size: xx-large;
        min-width: 95vw;
        padding-bottom: 5%;
        background-color:#612897 ;
        color: aliceblue;
    }
 
     .btn-2{
            border: none;
            font-size: xx-large;
            min-width: 95vw;
            padding-bottom: 5%;
            background-color:#612897 ;
            color: aliceblue;
     
     }

    .btn-3{
            border: none;
            font-size: xx-large;
            min-width: 95vw;
            background-color:#612897 ;
            color: aliceblue;
    }
    .navbar{
        text-align: center;
    }
    .main-container{
        background-color: #D22779;
        margin: auto;
    
    }
    .user-points{
        border-radius: 50px !important;
        padding: 8% 32% 5% 60%;
        background: #612897  !important;
        position: relative;
        display: flex;
        align-items:center;
     }
    .footer{
        text-align: center;
    }
  }